<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
        alt="photo da noticia"
        >
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular 17!</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et expedita esse, dicta necessitatibus aut non eum saepe tempora corrupti rem distinctio officia nulla, ducimus dolorum sapiente sint vitae. Nisi, repellat?
        Itaque expedita placeat quia, at veniam, dignissimos, iusto aliquid sint deleniti harum tempora quos? Eveniet aspernatur illo explicabo non? Natus sed harum ratione odio eos illo quo incidunt pariatur impedit.</p>
    </div>
</div>
