<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div>
    <div class="container__articles">
        <div class="atricles__main">
            <a href="#">
                <app-big-card
                    photoCover="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
                    cardTitle="Nova versão do Angular 17 já esta disponível!!"
                    cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et expedita esse, dicta necessitatibus aut non eum saepe tempora corrupti rem distinctio officia nulla, ducimus dolorum sapiente sint vitae. Nisi, repellat Itaque expedita placeat quia, at veniam, dignissimos, iusto aliquid sint deleniti harum tempora quos? Eveniet aspernatur illo explicabo non? Natus sed harum ratione odio eos illo quo incidunt pariatur impedit.">
                </app-big-card>
            </a>
        </div>
        <div class="articles__others">
            <app-small-card
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRts3o7wXchGFz07wiffIPvzviJkWVAnX9hw&usqp=CAU"
                cardTitle="Saiu a nova versão do Angular 17!">
            </app-small-card>
            <app-small-card
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRts3o7wXchGFz07wiffIPvzviJkWVAnX9hw&usqp=CAU"
                cardTitle="Saiu a nova versão do Angular 16!">
            </app-small-card>
            <app-small-card
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRts3o7wXchGFz07wiffIPvzviJkWVAnX9hw&usqp=CAU"
                cardTitle="Saiu a nova versão do Angular 14">>

            </app-small-card>
        </div>
    </div>
</div>
