<div class="container__menu-bar">
        <div class="menu-bar-photo">
            <img src="../../../assets/logo.svg" alt="">
        </div>
        <div class="menu-bar-nav">
            <ul>
                <li><a href="https://www.linkedin.com/in/italo-oliveira-xd/" target="_blank">Linkedin</a></li>
                <li><span>•</span></li>
                <li><a href="https://github.com/italoOliveira-dev" target="_blank">GitHub</a></li>
                <li><span>•</span></li>
                <li><a href="https://www.instagram.com/italo_oliveiiraa21/" target="_blank">Instagram</a></li>
            </ul>
        </div>
</div>
